.toolbar {
  display: none;
}
@media (min-width: 1024px) {
  .toolbar {
    position: relative;
    z-index: 42;
    display: flex;
    justify-content: center;
    padding: var(--panel-padding) 4%;
    margin-bottom: var(--panel-padding);
    background: linear-gradient(110deg, var(--inverse-control), var(--inverse));
    border-bottom: 1px solid var(--inverse-border);
  }
  .content {
    width: min(100%, 60rem);
  }
}
