.toolbar {
  display: none;
}
@media (min-width: 1024px) {
  .toolbar {
    position: relative;
    z-index: 42;
    display: block;
  }
  .content {
    position: relative;
    z-index: 3;
    width: min(calc(100% - 2 * var(--layout-gutter)), 72rem);
  }
}
